*{
	margin:0;
	padding:0;
	border:0;
}
#chatbot {
	margin:30px auto;
	width:50%;
	height:600px;
	border:solid black 1px;
	box-shadow: -1px -2px 24px black;
}
#botname {
	color:white;
	text-align:center;
	padding:5px 0;
	height:5%;
	border-bottom:solid black 1px;
	background:#202020;
}
#chatcontent {
	height:67%;
	list-style-type:none;
	overflow-y: auto;
	font-size:20px;
	margin:10px 0;
}
.me {
	text-align:right;
}
.robot {
	
}
textarea {
	width: 98.6%;
    height: 13.3%;
	border-top:solid black 1px;
	font-size: 25px;
	padding:5px;
	resize: none;
	overflow-y:auto
}
textarea:focus {
    outline: none;
}
button {
	height:7%;
	float:right;
	width:20%;
}